# Analysis of an online retail

This dataset is an [Online Retail dataset](https://www.kaggle.com/datasets/tunguz/online-retail) containing sales transaction. According to the dataset information:

*This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011*
*for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts.*
*Many customers of the company are wholesalers.*

This analysis consist of 3 major steps:

- A first exploration of the data.
- Cleaning the data.
- A deeper exploration of the data and gaining insights.
- Data analysis and visualisation.
- Drawing conclusions.

Load the dataset

In [1]:
import os
import pandas as pd

# Get the absolute path to the current notebook
os_path = os.getcwd()
# Add the extra path to the dataset file
dataset_path = os_path+'\datasets\Online_Retail.csv'
dataset_retail = pd.read_csv(dataset_path, encoding='ISO-8859-1')
dataset_retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

Get information about the number of columns and the associated datatypes.

In [2]:
# Get the columns and the datatypes
dataset_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## Data cleaning

### Data exploration

As a first step identify null or empty values in the dataset.

In [3]:
# fint the total empty elements per column
dataset_retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Also is important to know, how many repeated rows exist in the dataset.

In [4]:
dataset_retail.duplicated().sum()

np.int64(5268)

Find the unique values per column

In [5]:
# dictionary comprehension
unique_values = {col: dataset_retail[col].unique() for col in dataset_retail.columns if (col == 'Country' or col == 'CustomerID')}

# Print the unique values
for col, vals in unique_values.items():
    print(f'Column name: {col}')
    print(f'Number of unique values: {len(vals)}')
    print(f'First 20 unique values: {vals[:20]}')
    print(50*'=') # separator

Column name: CustomerID
Number of unique values: 4373
First 20 unique values: [17850. 13047. 12583. 13748. 15100. 15291. 14688. 17809. 15311. 14527.
 16098. 18074. 17420. 16029. 16250. 12431. 17511. 17548. 13705. 13747.]
==================================================
Column name: Country
Number of unique values: 38
First 20 unique values: ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden']
==================================================

### Data cleaning

Then, the first step in cleaning the data in this analysis is to remove empty values in the key columns.
- The **Description** column can contain empty values without affecting the analysis.
- The **CustomerID** column is important to keep track of all transactions and their details.

So, for this analysis, only the missing values in the **CustomerID** column will be removed.

In [6]:
# Remove the emty values in the column 'CustomerID'
dataset_retail_clean = dataset_retail.dropna(subset=['CustomerID'])
# Count the total number of empty cell per column
dataset_retail_clean.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

As can be seen, the removed cells also contained empty cells in **Description**.

The next step is to remove the duplicated rows, found in a previous cell.

In [7]:
# remove duplicates
dataset_retail_clean = dataset_retail_clean.drop_duplicates()
# Count the total duplicated rows after the operation
dataset_retail_clean.duplicated().sum()

np.int64(0)

## Data preparation

Let's take a look at the current state of the cleaned data before start the dataset transformation. Transformation means adding and deleting columns, changing columns datatypes, changing main index, etc.

In [8]:
dataset_retail_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [9]:
dataset_retail_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

### Create new columns

Let's create a new columns with name `TotalAmount`, which will represent the total cost of sold products, the number of sold products times the unitary price of that product.

In [10]:
dataset_retail_clean['TotalAmount'] = dataset_retail_clean['Quantity'] * dataset_retail_clean['UnitPrice']
dataset_retail_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34

Let's change the type of the field or column `InvoiceDate` from `object` to `Datetime` in order to work with time series easily.

In [11]:
dataset_retail_clean['InvoiceDate'] = pd.to_datetime(dataset_retail_clean['InvoiceDate'], format='%m/%d/%y %H:%M')
dataset_retail_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401604 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  datetime64[ns]
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
 8   TotalAmount  401604 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 30.6+ MB

Create 2 new columns for `Year` and `Month`

In [12]:
dataset_retail_clean['Year'] = dataset_retail_clean['InvoiceDate'].dt.year
dataset_retail_clean['Month'] = dataset_retail_clean['InvoiceDate'].dt.month
dataset_retail_clean.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12

### Create new sub-dataframes

Create a dataframe that contain the total sales per year, the total sales per quarter and total sales per month.

**Total sales per year.**

In [13]:
df_sale_per_year = dataset_retail_clean.groupby('Year')['TotalAmount'].sum()
df_sale_per_year

Year
2010     552372.860
2011    7726146.564
Name: TotalAmount, dtype: float64

**Total sales per semester.**

In [14]:
# Create a new column called Semester. 1 for first half, 2 for second half.
dataset_retail_clean['Semester'] = dataset_retail_clean['Month'].apply(lambda x: 1 if x <= 6 else 2)

In [16]:
# Create the new dataframe for semesters
df_sales_per_semester = dataset_retail_clean.groupby(['Year', 'Semester'])['TotalAmount'].sum()
df_sales_per_semester

Year  Semester
2010  2            552372.860
2011  1           3166939.041
      2           4559207.523
Name: TotalAmount, dtype: float64

**Total sales per quarter**

In [19]:
# Create a new column: Quarters.
dataset_retail_clean['Quarter'] = dataset_retail_clean['Month'].apply(lambda x : 1 if x <= 3 else (2 if x <= 6 else (3 if x <= 9 else 4)))

In [20]:
# create the new dataframe for total sales per quarter
df_sales_per_quarter = dataset_retail_clean.groupby(['Year', 'Quarter'])['TotalAmount'].sum()
df_sales_per_quarter

Year  Quarter
2010  4           552372.860
2011  1          1487842.180
      2          1679096.861
      3          2117546.643
      4          2441660.880
Name: TotalAmount, dtype: float64

**Total sales per month**

In [21]:
df_sales_per_month = dataset_retail_clean.groupby(['Year', 'Month'])['TotalAmount'].sum()
df_sales_per_month

Year  Month
2010  12        552372.860
2011  1         473731.900
      2         435534.070
      3         578576.210
      4         425222.671
      5         647011.670
      6         606862.520
      7         573112.321
      8         615078.090
      9         929356.232
      10        973306.380
      11       1126815.070
      12        341539.430
Name: TotalAmount, dtype: float64