# Working examples with Dataframes

## Import the dataset

...

## Example 1: Categorize data adding new columns

### 1.1 Load or define the datase

In [14]:
data = {
    "Name": ["Harry", "Draco", "Cedric", "Ginny"],
    "Year": [3, 3, 5, 1],
    "House": ["Gryffindor", "Slytherin", "Hufflepuff", "Gryffindor"],
}
print(data)

{'Name': ['Harry', 'Draco', 'Cedric', 'Ginny'], 'Year': [3, 3, 5, 1], 'House': ['Gryffindor', 'Slytherin', 'Hufflepuff', 'Gryffindor']}

### 1.2 Covert to Dataframe pandas datastructure

In [15]:
df_data = pd.DataFrame(data)
df_data

     Name  Year       House
0   Harry     3  Gryffindor
1   Draco     3   Slytherin
2  Cedric     5  Hufflepuff
3   Ginny     1  Gryffindor

### 1.3 Add a new category or column called 'GradeLevel'

In [19]:
def category_level(year):
  if year == 1:
    return 'Freshman'
  elif year == 2:
    return 'Sophomore'
  elif year == 3 or year == 4:
    return 'Junior'
  elif year > 4:
    return 'Senior'
  else:
    return 'Graduated'

df_data['GradeLevel'] = df_data['Year'].apply(category_level)

df_data

     Name  Year       House GradeLevel
0   Harry     3  Gryffindor     Junior
1   Draco     3   Slytherin     Junior
2  Cedric     5  Hufflepuff     Senior
3   Ginny     1  Gryffindor   Freshman